<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KqueueWebClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>kqueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>kqueue_multiple_web_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>kqueue_web_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>select.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>select_multiple_web_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>socket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>223F944118E05017002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F945818E05586002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F949D18E3F6CD002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F94AE18E530F5002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F94C118E5AB1A002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F94CE18E5AB43002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223F94F018E956FE002B16C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
